@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Bold-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Rnd-Book";
    src: url("../fonts/GothamRnd-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Light";
    src: url("../fonts/Gotham-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Rounded Bold";
    src: url("../fonts/GothamRnd-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Rounded Book";
    src: url("../fonts/GothamRnd-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Medium";
    src: url("../fonts/Gotham-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Rounded Medium";
    src: url("../fonts/GothamRnd-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
div.entrar_facebook {
    text-align: center;
}
div.entrar_facebook img {
    margin-top: 50%;
    width: 80%;
}
div.login {
    margin: 5% 10%;
    text-align: center;
}
div.login label i {
    color: #100019;
    font-size: 180%;
}
div.login label.item-input {
    padding: 0px 0px 0px 16px;
}
div.login ::-webkit-input-placeholder {
    color: #100019;
}
div.login label {
    border-radius: 2px;
}
div.login button {
    margin: 10%;
    color: #100019;
    background: #FFF;
    border-radius: 5px;
    border:0;
    padding: 5% 15%;
    font-family: Gotham;
}
a {
    text-decoration: none;
}
div.esqueceu_senha {
    margin: 50% 5% 0% 5%;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
div.esqueceu_senha i {
    color: #100019;
    float: right;
    font-size: 180%;
}
div.esqueceu_senha button {
    margin: 10%;
    color: #FFF;
    background: #100019;
    border-radius: 5px;
    border:0;
    padding: 0% 5%;
    font-family: Gotham;
    width: 150px;
    height: 45px;
}
div.esqueceu_senha button i{
    color: #FFF;
    margin-left: 15px;
    font-size: 30px;
}
div.codigo_verificacao {
    margin: 50% 5% 0% 5%;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
div.codigo_verificacao i {
    color: #100019;
    float: right;
}
div.codigo_verificacao button {
    margin: 10%;
    color: #FFF;
    background: #100019;
    border-radius: 5px;
    border:0;
    padding: 0% 2%;
    font-family: Gotham;
    width: 150px;
    height: 45px;
    font-size: 85%;
}
div.codigo_verificacao button i{
    color: #FFF;
    margin-left: 10px;
    font-size: 35px;
}
div.codigo_verificacao label i {
    font-size: 200%;
    margin-right: 15%;
}
div.codigo_verificacao {
    margin: 50% 5% 0% 5%;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
div.codigo_verificacao i {
    color: #100019;
    float: right;
}
div.nova_senha {
    margin: 50% 5% 0% 5%;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
div.nova_senha i {
    color: #100019;
    float: right;
}
div.nova_senha button {
    margin: 10%;
    color: #FFF;
    background: #100019;
    border-radius: 5px;
    border:0;
    padding: 0% 2%;
    font-family: Gotham;
    width: 150px;
    height: 45px;
    font-size: 85%;
}
div.nova_senha button i{
    color: #FFF;
    margin-left: 10px;
    font-size: 35px;
}
div.nova_senha label i {
    font-size: 200%;
    margin-right: 15%;
}
div.scroll {
    -webkit-transform: inherit !important;
    -moz-transform: inherit !important;
    -ms-transform: inherit !important;
    -o-transform: inherit !important;
    transform: inherit !important;
}
div.nova_senha ::-webkit-input-placeholder {
    color: #100019;
}
div.senha_criada {
    margin: 50% 5% 0% 5%;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
div.senha_criada i {
    color: #100019;
    float: right;
    font-size: 180%;
}
.bar-header, .bar.bar-stable {
    background: transparent;
    border-bottom: 1px solid #FFF;
}
.bar.bar-stable .title {
    color: #FFF;
    font-family: "Gotham Rnd-Book";
}
.bar-stable .button.button-clear {
    color: #FFF;
}
button.back-button span {
    display: none !important;
}

div.cadastrar div.entrar_facebook img {
    margin-top: 5%;
}
div.cadastrar label i {
    font-size: 150%;
    margin-right: 15%;
    color: #100019;
}
div.cadastrar {
    margin: 0 5% 0% 5%;
    border-radius: 5px;
    text-align: center;
}
div.cadastrar ::-webkit-input-placeholder {
    color: #100019;
    font-family: "Gotham Rnd-Book";
}
div.cadastrar label {
    margin-top: 10px;
    padding: 0px 0 0px 16px;
    border-radius: 5px;
}
div.cadastrar button {
    margin: 5% 0% 3% 0%;
    color: #100019;
    background: #FFF;
    border-radius: 5px;
    border:0;
    padding: 0% 4%;
    font-family: Gotham;
    width: 150px;
    height: 45px;
}
div.completar_cadastro {
    margin: 40% 5% 0% 5%;
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
div.completar_cadastro i {
    color: #100019;
    float: right;
}
div.completar_cadastro button {
    margin: 5% 0% 3% 0%;
    color: #FFF;
    background: #100019;
    border-radius: 5px;
    border:0;
    padding: 0% 4%;
    font-family: Gotham;
    width: 150px;
    height: 45px;
    font-size: 85%;
}
div.completar_cadastro label i {
    font-size: 200%;
    margin-right: 15%;
}
div.completar_cadastro ::-webkit-input-placeholder {
    color: #100019;
    font-family: "Gotham Rnd-Book";
}
div.selecionar_interesse {
    padding: 6%;
}
div.selecionar_interesse div.interesses{
    border: 2px solid #FFF;
    border-radius: 2px;
    color: #FFF;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    padding: 22px;
    font-size: 120%;
    font-weight: bold;
    font-family: "Gotham Rnd-Book";
    margin-bottom: 5%;
}
div.selecionar_interesse div.interesses:hover {
    background: #FFF;
    color: #100019;
}
div.feed .item-avatar img {
    top: 5px;
    left: 5px;
    max-width: 60px;
    max-height: 60px;
}
div.feed .item h2 {
    color: #100019;
    font-family: "Gotham Rounded Bold";
    font-size: 80%;
}
div.feed .item p {
    color: #100019;
    font-family: "Gotham Rounded Book";
    font-size: 80%;
}
div.feed img {
    width: 100% !important;
}
div.acoes_post p{
    margin-top: 0;
}
div.acoes_post {
    padding: 5px 16px;
    font-family: "Gotham Rounded Book";
}
div.cont_acoes p{
    margin-top: 0;
    margin-bottom: 0;
}
div.cont_acoes {
    padding: 5px 16px;
    font-family: "Gotham Rounded Book";
    font-size: 90%;
}
div.novo_evento .item-avatar img {
    top: 5px;
    left: 5px;
    max-width: 60px;
    max-height: 60px;
}
div.novo_evento .item h2 {
    color: #100019;
    font-family: "Gotham Rounded Bold";
    font-size: 80%;
}
div.novo_evento .item p {
    color: #100019;
    font-family: "Gotham Rounded Book";
    font-size: 80%;
}
div.novo_evento img {
    width: 100% !important;
}
div.novo_evento .rodape_img {
    width: 100%;
    height: 20px;
    background: #110019;
    position: relative;
    bottom: 23px;
    padding-left: 10px;
    color: #FFF;
}
div.novo_evento .rodape_img .estrela {
    color: #e6b500;
}
div.novo_evento .rodape_img .estrela_branca {
    color: #FFF;
}
* a{
    text-decoration: none;
    color: inherit;
}
div.interesse_evento .item-avatar img {
    top: 5px;
    left: 5px;
    max-width: 60px;
    max-height: 60px;
}
div.interesse_evento .item h2 {
    color: #100019;
    font-family: "Gotham Rounded Bold";
    font-size: 80%;
}
div.interesse_evento .item p {
    color: #100019;
    font-family: "Gotham Rounded Book";
    font-size: 80%;
}
div.interesse_evento img {
    width: 100% !important;
}
div.interesse_evento .rodape_img {
    width: 100%;
    height: 20px;
    background: #110019;
    position: relative;
    bottom: 23px;
    padding-left: 10px;
    color: #FFF;
}
div.interesse_evento .rodape_img .estrela {
    color: #e6b500;
}
div.interesse_evento .rodape_img .estrela_branca {
    color: #FFF;
}
div.confirmou_presenca .item-avatar img {
    top: 5px;
    left: 5px;
    max-width: 60px;
    max-height: 60px;
}
div.confirmou_presenca .item h2 {
    color: #100019;
    font-family: "Gotham Rounded Bold";
    font-size: 80%;
}
div.confirmou_presenca .item p {
    color: #100019;
    font-family: "Gotham Rounded Book";
    font-size: 80%;
}
div.confirmou_presenca img {
    width: 100% !important;
}
div.confirmou_presenca .rodape_img {
    width: 100%;
    height: 20px;
    background: #110019;
    position: relative;
    bottom: 23px;
    padding-left: 10px;
    color: #FFF;
}
div.confirmou_presenca .rodape_img .estrela {
    color: #e6b500;
}
div.confirmou_presenca .rodape_img .estrela_branca {
    color: #FFF;
}
div.talvez_interesse {
    min-height: 150px;
    width: 100%;
    background: #FFF;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

}
div.talvez_interesse .evento {
    width: 150px;
    height:120px;
    display: inline-block;;
    margin-right: 10px;
}
.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}
div.talvez_interesse .item-body {
    padding: 0;
}
div.talvez_interesse div.rodape_img {
    font-size: 75%;
}
div.talvez_interesse div.evento span {
    font-size: 50%;
    color: #847c89;
}
div.talvez_interesse div.item {
    border-color: #cbc8cd;
    border-radius: 5px;
}
div.talvez_interesse p.legenda {
    padding: 0 5px;
    font-size: 50%;
    line-height: 12px;
}
div.talvez_conheca .item-body {
    padding: 0;
}
div.talvez_conheca div.rodape_img {
    font-size: 75%;
}
div.talvez_conheca div.evento span {
    font-size: 50%;
    color: #847c89;
}
div.talvez_conheca div.item {
    border-color: #cbc8cd;
    border-radius: 5px;
}
div.talvez_conheca p.legenda {
    padding: 0 5px;
    font-size: 50%;
    line-height: 12px;
}
div.talvez_conheca {
    min-height: 150px;
    width: 100%;
    background: #FFF;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

}
div.talvez_conheca .evento {
    width: 120px;
    height:120px;
    display: inline-block;;
    margin-right: 10px;
    text-align: center;
}
div.talvez_conheca div.evento img {
    border-radius: 50%;
    width: 50%;
}
div.talvez_conheca button.seguir {
    margin: 5% 0% 3% 0%;
    color: #100019;
    background: #FFF;
    border:1px solid #100019;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.talvez_conheca button.seguindo {
    margin: 5% 0% 3% 0%;
    color: #FFF;
    background: #100019;
    border:0;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.publicou_fotos .item-avatar img {
    top: 5px;
    left: 5px;
    max-width: 60px;
    max-height: 60px;
}
div.publicou_fotos .item h2 {
    color: #100019;
    font-family: "Gotham Rounded Bold";
    font-size: 80%;
}
div.publicou_fotos .item p {
    color: #100019;
    font-family: "Gotham Rounded Book";
    font-size: 80%;
}
div.publicou_fotos div.imagens img {
    float: left;
    max-width: 150px;
}
div.fotos_hashtag .item-avatar img {
    top: 5px;
    left: 5px;
    max-width: 60px;
    max-height: 60px;
}
div.fotos_hashtag .item h2 {
    color: #100019;
    font-family: "Gotham Rounded Bold";
    font-size: 80%;
}
div.fotos_hashtag .item p {
    color: #100019;
    font-family: "Gotham Rounded Book";
    font-size: 80%;
}
div.fotos_hashtag div.imagens img {
    float: left;
    max-width: 150px;
}
div.curtidas .bar {
    color: #a59fa8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}
div.curtidas .bar button {
    color: #877f8c;
}
div.curtidas .bar input {
    font-size: 15px;
}
div.curtidas button.seguir {
    margin: 2% 0% 3% 0%;
    color: #100019;
    background: #FFF;
    border:1px solid #100019;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.curtidas button.seguindo {
    margin: 2% 0% 3% 0%;
    color: #FFF;
    background: #100019;
    border:0;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.curtidas h2 {
    font-family: 'Gotham Rounded Bold';
    color: #36283d;
    font-size: 75%;
}
div.curtidas p {
    font-family: "Gotham Rounded Book";
    color: #36283d;
    font-size: 70%;
}
div.comentarios .bar {
    color: #a59fa8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}
div.comentarios .bar button {
    color: #877f8c;
}
div.comentarios .bar input {
    font-size: 15px;
}
div.comentarios h2 {
    font-family: 'Gotham Rounded Bold';
    color: #36283d;
    font-size: 75%;
}
div.comentarios p {
    font-family: "Gotham Rounded Book";
    color: #36283d;
    font-size: 70%;
    white-space: normal;
    max-width: 90%;
    float: left;
    margin-right: 10px;
}
div.comentarios div.responder {
    float: left;
    font-family: "Gotham Rounded Medium";
    color: #acacac;
    font-size: 70%;
}
div.comentarios div.tempo_postagem {
    color: #c2c2c2;
    font-family: "Gotham Rounded Book";
    font-size: 70%;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #100019 !important;
    margin-top: 5px;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #100019;
    margin-top: 5px;
}
div.criar_evento button.publico {
    margin: 2% 1% 3% 2%;
    color: #100019;
    background: #FFF;
    border:1px solid #100019;
    padding: 0% 4%;
    border-radius: 5px;
    font-family: "Gotham Rounded Medium";
    width: 150px;
    height: 50px;
    font-size: 100%;
}
div.criar_evento button.privado {
    margin: 2% 0% 3% 1%;
    color: #FFF;
    background: #100019;
    border:2px solid #9f99a3;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 162px;
    height: 50px;
    font-size: 100%;
}
div.criar_evento div.publicar_foto {
    background: #FFF;
    margin: 0 1%;
    border-radius: 5px;
    padding: 2% 2%;
    font-family: "Gotham Rounded Book";
    font-size: 85%;
    text-align: center;
}
div.criar_evento div.publicar_foto p {
    text-align: left;
}
div.criar_evento button.adicionar_foto {
    background: #FFF;
    border-radius: 3px;
    border:2px solid #100019;
    width: 250px;
    height: 40px;
    text-align: center;
    font-family: "Gotham Rounded Book";
    margin-top: 5%;
    margin-bottom: 5%;
}
div.criar_evento button.adicionar_foto i {
    font-size: 150%;
    margin-right: 4%;
}
div.criar_evento .item-input {
    border-radius: 3px;
    margin: 0 1%;
}
div.criar_evento2 {
    padding: 5% 2%;
}
div.criar_evento2 label.item {
    background: #FFF;
    border-radius: 5px;
}
div.criar_evento2 ul.list li.item {
    border-radius: 5px;
}
div.evento .rodape_img {
    width: 100%;
    height: 20px;
    background: #110019;
    padding-left: 10px;
    color: #FFF;
    text-align: center;
}
div.evento .rodape_img .estrela {
    color: #e6b500;
}
div.evento .rodape_img .estrela_branca {
    color: #FFF;
}
div.evento div.informacoes i {
    font-size: 150%;
}
div.evento div.informacoes div.icone {
    width: 35px;
    float: left;
}
div.evento div.tabs {
    position: inherit;
}
div.evento .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    color: #110019;
}
div.evento .tabs-striped.tabs-color-assertive .tab-item {
    color: #110019;
}
div.evento div.circulo {
    border-radius: 50%;
    border: 2px solid #100009;
    width: 89px;
    height: 89px;
    text-align: center;
    padding-top: 33px;
    margin-top: 20px;
    font-size: 200%;
    float: left;
    margin: 0px 10px;
}
div.evento div.row, div.evento div.col {
    padding: 0;
}
div.evento div.item {
    color: #110019 !important;
}
div.evento div.informacoes div.caixinha {
    background: #100009;
    color: #FFF;
    width: 100px;
    height: 40px;
    padding-top: 12px;
    margin-left: 5%;
    border-radius: 3px;
}
div.evento div.confirmaram_presenca div.fotos_interessados img {
    width:9%;
}
div.evento_feed .item-avatar img {
    top: 5px;
    left: 5px;
    max-width: 60px;
    max-height: 60px;
}
div.evento_feed .item h2 {
    color: #100019;
    font-family: "Gotham Rounded Bold";
    font-size: 80%;
}
div.evento_feed .item p {
    color: #100019;
    font-family: "Gotham Rounded Book";
    font-size: 80%;
}
div.evento_feed div.imagens img {
    float: left;
    max-width: 150px;
}
div.evento_feed .rodape_img {
    width: 100%;
    height: 20px;
    background: #110019;
    padding-left: 10px;
    color: #FFF;
    text-align: center;
}
div.evento_feed .rodape_img .estrela {
    color: #e6b500;
}
div.evento_feed .rodape_img .estrela_branca {
    color: #FFF;
}
div.evento_feed div.informacoes i {
    font-size: 150%;
}
div.evento_feed div.informacoes div.icone {
    width: 35px;
    float: left;
}
div.evento_feed div.tabs {
    position: inherit;
}
div.evento_feed .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    color: #110019;
}
div.evento_feed .tabs-striped.tabs-color-assertive .tab-item {
    color: #110019;
}
div.evento_feed div.item {
    color: #110019 !important;
}
div.evento_feed div.row, div.evento_feed div.col {
    padding: 0;
}
div.evento_comentarios .rodape_img {
    width: 100%;
    height: 20px;
    background: #110019;
    padding-left: 10px;
    color: #FFF;
    text-align: center;
}
div.evento_comentarios .rodape_img .estrela {
    color: #e6b500;
}
div.evento_comentarios .rodape_img .estrela_branca {
    color: #FFF;
}
div.evento_comentarios div.informacoes i {
    font-size: 150%;
}
div.evento_comentarios div.informacoes div.icone {
    width: 35px;
    float: left;
}
div.evento_comentarios div.tabs {
    position: inherit;
}
div.evento_comentarios .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    color: #110019;
}
div.evento_comentarios .tabs-striped.tabs-color-assertive .tab-item {
    color: #110019;
}
div.evento_comentarios div.item {
    color: #110019 !important;
}
div.evento_comentarios div.item {
    color: #110019 !important;
}
div.evento_comentarios div.row, div.evento_comentarios div.col {
    padding: 0;
}
.tabs-striped.tabs-color-assertive .tab-item {
    color: #100009;
}
div.editar_evento button.publico {
    margin: 2% 1% 3% 2%;
    color: #100019;
    background: #FFF;
    border:1px solid #100019;
    padding: 0% 4%;
    border-radius: 5px;
    font-family: "Gotham Rounded Medium";
    width: 155px;
    height: 50px;
    font-size: 100%;
}
div.editar_evento button.privado {
    margin: 2% 0% 3% 1%;
    color: #FFF;
    background: #100019;
    border:2px solid #9f99a3;
    padding: 0% 4%;
    border-radius: 5px;
    font-family: "Gotham Rounded Medium";
    width: 155px;
    height: 50px;
    font-size: 100%;
}
::-webkit-input-placeholder {
    color: #100009 !important;
}
div.editar_evento textarea {
    font-size: 70%;
    font-family: "Gotham Rounded Book";
}
div.editar_evento input {
    font-size: 70%;
    font-family: "Gotham Rounded Book";
    padding:0;
}
div.editar_evento_estatisticas div.informacoes div.caixinha {
    background: #100009;
    color: #FFF;
    width: 100px;
    height: 40px;
    padding-top: 12px;
    margin-left: 5%;
    border-radius: 3px;
}
div.editar_evento_estatisticas div.row, div.editar_evento_estatisticas div.col {
    padding: 0;
}
div.editar_evento_estatisticas div.item {
    color: #110019 !important;
}
div.confirmaram_presenca .bar {
    color: #a59fa8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}
div.confirmaram_presenca .bar button {
    color: #877f8c;
}
div.confirmaram_presenca .bar input {
    font-size: 15px;
}
div.confirmaram_presenca button.seguir {
    margin: 2% 0% 3% 0%;
    color: #100019;
    background: #FFF;
    border:1px solid #100019;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.confirmaram_presenca button.seguindo {
    margin: 2% 0% 3% 0%;
    color: #FFF;
    background: #100019;
    border:0;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.confirmaram_presenca h2 {
    font-family: 'Gotham Rounded Bold';
    color: #36283d;
    font-size: 75%;
}
div.confirmaram_presenca p {
    font-family: "Gotham Rounded Book";
    color: #36283d;
    font-size: 70%;
}
div.pessoas_interessadas .bar {
    color: #a59fa8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}
div.pessoas_interessadas .bar button {
    color: #877f8c;
}
div.pessoas_interessadas .bar input {
    font-size: 15px;
}
div.pessoas_interessadas button.seguir {
    margin: 2% 0% 3% 0%;
    color: #100019;
    background: #FFF;
    border:1px solid #100019;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.pessoas_interessadas button.seguindo {
    margin: 2% 0% 3% 0%;
    color: #FFF;
    background: #100019;
    border:0;
    padding: 0% 4%;
    border-radius: 3px;
    font-family: "Gotham Rounded Medium";
    width: 100px;
    height: 25px;
    font-size: 60%;
}
div.pessoas_interessadas h2 {
    font-family: 'Gotham Rounded Bold';
    color: #36283d;
    font-size: 75%;
}
div.pessoas_interessadas p {
    font-family: "Gotham Rounded Book";
    color: #36283d;
    font-size: 70%;
}
div.eventos_produzidos_por_voce .bar {
    color: #a59fa8;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}
div.eventos_produzidos_por_voce .bar button {
    color: #877f8c;
}
div.eventos_produzidos_por_voce .bar input {
    font-size: 15px;
}
div.eventos_produzidos_por_voce .evento {
    width: 160px;
    height:120px;
    display: inline-block;
}
div.eventos_produzidos_por_voce .item-body {
    padding: 0;
}
div.eventos_produzidos_por_voce div.rodape_img {
    font-size: 75%;
}
div.eventos_produzidos_por_voce div.evento span {
    font-size: 50%;
    color: #847c89;
}
div.eventos_produzidos_por_voce div.item {
    border-color: #cbc8cd;
    border-radius: 5px;
}
div.eventos_produzidos_por_voce p.legenda {
    padding: 0 5px;
    font-size: 50%;
    line-height: 12px;
}
div.explorar div.list a.item p {
    font-family: "Gotham Rounded Book";
    color: #100019;
}
div.explorar_todos div.tabs {
    position: inherit;
}
div.explorar_todos .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    color: #110019;
}
div.explorar_todos .tabs-striped.tabs-color-assertive .tab-item {
    color: #110019;
}
div.explorar_todos div.eventos {
    border:1px solid #110019;
    border-radius: 2px;
    margin-bottom: 15px;
}
div.explorar_todos div.eventos div.foto img {
    width: 40%;
    float: left;
    margin-right: 10px;
}
div.explorar_todos div.eventos div.descricao {
    font-family: "Gotham Light";
    font-size: 11px;
    padding: 10px 10px 3px 10px;
}
div.explorar_todos div.publicacao {
    border:1px solid #110019;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 7px;
}
div.explorar_todos div.publicacao div.foto img {
    width: 40%;
    float: left;
    margin-right: 10px;
}
div.explorar_todos div.publicacao div.descricao p{
    font-family: "Gotham Rounded Book";
    font-size: 11px;
    padding: 10px 10px 3px 10px;
    color: #110019;
    line-height: 13px;
}
div.explorar_eventos div.tabs {
    position: inherit;
}
div.explorar_eventos .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    color: #110019;
}
div.explorar_eventos .tabs-striped.tabs-color-assertive .tab-item {
    color: #110019;
}
div.explorar_eventos div.eventos {
    border:1px solid #110019;
    border-radius: 2px;
    margin-bottom: 15px;
}
div.explorar_eventos div.eventos div.foto img {
    width: 40%;
    float: left;
    margin-right: 10px;
}
div.explorar_eventos div.eventos div.descricao {
    font-family: "Gotham Light";
    font-size: 11px;
    padding: 10px 10px 3px 10px;
}
div.explorar_eventos div.publicacao {
    border:1px solid #110019;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 7px;
}
div.explorar_eventos div.publicacao div.foto img {
    width: 40%;
    float: left;
    margin-right: 10px;
}
div.explorar_eventos div.publicacao div.descricao p{
    font-family: "Gotham Rounded Book";
    font-size: 11px;
    padding: 10px 10px 3px 10px;
    color: #110019;
    line-height: 13px;
}
div.explorar_eventos .item-select:after {
    right: 5px;
}