<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="CADASTRE - SE">
    <ion-content>
        <div class="cadastrar">
            <div class="entrar_facebook">
                <img src="img/face2.png">
            </div>
            <p style="text-align: center"><span style="color: #FFF; font-family: Gotham Rnd-Book;">ou por e-mail</span></p>
            <label class="item item-input">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="text" placeholder="Escolher nome de usuário" ng-model="user.email">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-email-outline placeholder-icon"></i>
                <input type="email" placeholder="E-mail">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="password" placeholder="Escolher senha">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="text" placeholder="Nome completo">
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; width: 40%; float: left; margin-right: 3%; border-radius: 8px;">
                <select style="width: 100%; border-radius: 3px; height: 36px; ">
                    <option><i class="icon ion-earth "></i> Estado</option>
                </select>
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; width: 57%; border-radius: 8px;">
                <select style="width: 100%; border-radius: 5px; height: 36px; ">
                    <option>Cidade</option>
                </select>
            </label>
            <label class="item item-input">
                <i class="icon ion-calendar placeholder-icon"></i>
                <input type="text" placeholder="Data de nascimento">
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; border-radius: 8px;">
                <select style="width: 100%; border-radius: 3px; height: 36px; ">
                    <i class="icon ion-person-stalker"></i>
                    <option>Sexo</option>
                    <option>Feminino</option>
                    <option>Masculino</option>
                </select>
            </label>
            <a ng-click="openModal(1)"><button ion-button>CADASTRE-SE</button></a>
            <br>
            <span style="font-family: 'Gotham Light'; color: #FFF; font-size: 70%; line-height: 10px !important;">Ao cadastrar-se, você concorda com os</span><span style="font-family: 'Gotham Rnd-Book'; color: #FFF; font-size: 70%; line-height: 10px;"> Termos e condições de uso</span><span style="font-family: 'Gotham Light'; color: #FFF; font-size: 70%; line-height: 10px;"> e com a</span><span style="font-family: 'Gotham Rnd-Book'; color: #FFF; font-size: 70%; line-height: 10px;"> Política de privacidade do Meet.</span>
        </div>
    </ion-content>
</ion-view>
