<ion-view  style="background: url('img/back1.png'); background-size: cover;" hide-nav-bar="true">
    <ion-content>
        <div class="codigo_verificacao">
            <a ng-click="closeModal(2)"><i class="icon ion-close placeholder-icon"></i></a><br>
            <p style="text-align: center"><span style="color: #100019; font-family: Gotham Rnd-Book;">PRÓXIMO PASSO...</span></p><br>
            <p style="text-align: center"><span style="color: #100019; font-family: Gotham Rnd-Book; font-size: 90%">Enviamos para o seu e-mail um código de 5 dígitos</span></p><br>
            <label class="item item-input" style="padding: 2% 5%; border: 2px solid #100019; border-radius: 2px; width: 70%; margin-left: 14.5%; height: 60px;">
                <i class="icon ion-key placeholder-icon"></i>
                <input type="email" ng-model="user.email" style="font-size: 200%;" maxlength="5">
            </label>
            <button ion-button ng-click="openModal(3)"><span style="position: relative; top: 15px;">ALTERAR SENHA</span> <i class="icon ion-android-arrow-dropright"></i> </button>
        </div>
    </ion-content>
</ion-view>
