<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="COMENTÁRIOS">
    <ion-content style="background: #FFF">
        <div class="comentarios">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Pesquisar">
                </label>
                <button class="button button-clear" style="color: #4e4254;">
                    Cancelar
                </button>
            </div>
            <div class="list">
                <a class="item item-avatar" href="#/tab/menu">
                    <img src="img/avatar4.png">
                    <h2>pedro.cavalcante2</h2>
                    <p>Não me arrependo de ter garantido meu
                        ingresso e ter ido a esse hiper evento
                        aqui no Brasil.</p>
                    <i class="icon ion-thumbsup" style="font-size: 150%"></i><br>
                    <div class="responder">Responder</div>
                    <div class="tempo_postagem" style="float: right">há 7min</div>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2>pedro.cavalcante2</h2>
                    <p>Não me arrependo de ter garantido meu
                        ingresso e ter ido a esse hiper evento
                        aqui no Brasil.</p>
                    <i class="icon ion-thumbsup" style="font-size: 150%"></i><br>
                    <div class="responder">Responder</div>
                    <div class="tempo_postagem" style="float: right">há 7min</div>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2>pedro.cavalcante2</h2>
                    <p>Não me arrependo de ter garantido meu
                        ingresso e ter ido a esse hiper evento
                        aqui no Brasil.</p>
                    <i class="icon ion-thumbsup" style="font-size: 150%"></i><br>
                    <div class="responder">Responder</div>
                    <div class="tempo_postagem" style="float: right">há 7min</div>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2>pedro.cavalcante2</h2>
                    <p>Não me arrependo de ter garantido meu
                        ingresso e ter ido a esse hiper evento
                        aqui no Brasil.</p>
                    <i class="icon ion-thumbsup" style="font-size: 150%"></i><br>
                    <div class="responder">Responder</div>
                    <div class="tempo_postagem" style="float: right">há 7min</div>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2>pedro.cavalcante2</h2>
                    <p>Não me arrependo de ter garantido meu
                        ingresso e ter ido a esse hiper evento
                        aqui no Brasil.</p>
                    <i class="icon ion-thumbsup" style="font-size: 150%"></i><br>
                    <div class="responder">Responder</div>
                    <div class="tempo_postagem" style="float: right">há 7min</div>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2>pedro.cavalcante2</h2>
                    <p>Não me arrependo de ter garantido meu
                        ingresso e ter ido a esse hiper evento
                        aqui no Brasil.</p>
                    <i class="icon ion-thumbsup" style="font-size: 150%"></i><br>
                    <div class="responder">Responder</div>
                    <div class="tempo_postagem" style="float: right">há 7min</div>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar  item-input-inset" style="position: absolute; bottom: 0 !important;">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Faça um comentário...">
        </label>
        <button class="button button-clear" style="color: #4e4254;">
            Publicar
        </button>
    </div>
</ion-view>
