<ion-view  style="background: url('img/back1.png'); background-size: cover;" hide-nav-bar="true">
    <ion-content>
        <div class="completar_cadastro">
            <a ng-click="closeModal(1)"><i class="icon ion-close placeholder-icon"></i></a>
            <p style="text-align: center; margin: 0"><span style="color: #100019; font-family: Gotham Rnd-Book;">COMPLETE SEU PERFIL</span></p>
            <img src="img/avatar.png" style="border-radius: 50%; width: 40%">
            <label class="item item-input" style="padding: 0px 0 0px 16px; border: 2px solid #100019; border-radius: 2px">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="email" placeholder="Escolher nome de usuário" ng-model="user.email">
            </label>
            <br>
            <label class="item item-input" style="padding: 0px 0 0px 16px; border: 2px solid #100019; border-radius: 2px">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="email" placeholder="Escolher senha" ng-model="user.email">
            </label>
            <br>
            <label class="item item-input" style="padding: 0px 0 0px 16px; border: 2px solid #100019; border-radius: 2px">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="email" placeholder="Nome completo" ng-model="user.email">
            </label>
            <a href="#/SelecionarInteresse"><button ion-button  ng-click="closeModal(1)">CADASTRE-SE</button></a><br>
            <span style="font-family: 'Gotham Light'; color: #100019; font-size: 70%; line-height: 10px !important;">Ao cadastrar-se, você concorda com os</span><span style="font-family: 'Gotham Rnd-Book'; color: #100019; font-size: 70%; line-height: 10px;"> Termos e condições de uso</span><span style="font-family: 'Gotham Light'; color: #100019; font-size: 70%; line-height: 10px;"> e com a</span><span style="font-family: 'Gotham Rnd-Book'; color: #100019; font-size: 70%; line-height: 10px;"> Política de privacidade do Meet.</span>
        </div>
    </ion-content>
</ion-view>
