<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="CRIAR EVENTO">
    <ion-content>
        <div class="criar_evento2">
            <span style="font-family: 'Gotham Rounded Medium'; color: #FFF; font-size: 120%">INGRESSOS</span>
            <a href="#/PaginaEvento"> <p style="font-family:'Gotham Rnd-Book'; color: #FFF;">Informe onde as pessoas podem adquirir ingressos para o seu evento</p></a>
            <ul class="list">
                <li class="item item-toggle">
                   Entrada gratuita?
                    <label class="toggle toggle-dark">
                        <input type="checkbox">
                        <div class="track">
                             <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Vendas online</span>
                <input type="text" placeholder="Digite aqui o link para o site de vendas de ingresso">
            </label>
            <br>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Vendas físicas</span>
                <input type="text" placeholder="Digite aqui os valores e pontos físicos de venda dos ingressos">
            </label>
            <br>
            <span style="font-family: 'Gotham Rounded Medium'; color: #FFF; font-size: 120%">HASHTAG DO EVENTO</span>
            <p style="font-family:'Gotham Rnd-Book'; color: #FFF;">Escolha uma hashtag para o público utilizar em suas publicações</p>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Digite aqui a # do evento</span>
                    <input type="text">
                </label>
            </div>
            <span style="font-family: 'Gotham Rounded Medium'; color: #FFF; font-size: 120%">DADOS PARA CONTATO</span>
            <p style="font-family:'Gotham Rnd-Book'; color: #FFF;">Informe dados para as pessoas entrarem em contato</p>
            <label class="item item-input">
                <span class="input-label">Telefone ou celular</span>
                <input type="text">
            </label>
            <br>
            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <input type="text">
            </label>
        </div>
    </ion-content>
</ion-view>
