<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="CRIAR EVENTO">
    <ion-content>
        <div class="criar_evento">
            <br>
            <button ion-button  ng-click="closeModal(1)" class="publico">PÚBLICO</button>
            <span style="color: #FFF;"> ou </span>
            <a href="#/CriarEvento2"><button ion-button  class="privado">PRIVADO</button></a>
            <div class="publicar_foto">
                <button ion-button class="adicionar_foto"><i class="ion-image"></i> Adicionar foto do evento</button>
                <p>Para obter os melhores resultados, use uma imagem de 1920 X 1080 pixels (taxa de proporção de 16:9)</p>
            </div>
            <br>
            <label class="item item-input">
                <span class="input-label">Títular do Evento...</span>
                <input type="text">
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; width: 98%; float: left; margin-right: 1%; border-radius: 8px; margin-top: 2%">
                <select style="width: 100%; border-radius: 3px; height: 49px; ">
                    <option> Categoria do evento</option>
                </select>
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; width: 48%; float: left; margin-right: 1%; border-radius: 8px; margin-top: 2%">
                <select style="width: 100%; border-radius: 3px; height: 49px; ">
                    <option><i class="icon ion-earth "></i> Início</option>
                </select>
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; width: 48%; border-radius: 8px; float: left; margin-top: 2%">
                <select style="width: 100%; border-radius: 5px; height: 49px; ">
                    <option>Horário</option>
                </select>
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; width: 48%; float: left; margin-right: 1%; border-radius: 8px; margin-top: 2%; margin-bottom: 2%">
                <select style="width: 100%; border-radius: 3px; height: 49px; ">
                    <option><i class="icon ion-earth "></i> Término</option>
                </select>
            </label>
            <label class="item item-input" style="padding: 0; border: 2px solid #100019; width: 48%; border-radius: 8px; float: left; margin-top: 2%; margin-bottom: 2%">
                <select style="width: 100%; border-radius: 5px; height: 49px; ">
                    <option>Horário</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Localização</span>
                <input type="text">
            </label>
            <label class="item item-input" style="margin-top: 2%">
                <textarea placeholder="Descrição" rows="4" cols="10"></textarea>
            </label>
            <label class="item item-input" style="margin-top: 2%">
                <span class="input-label">Palavras-chave</span>
                <input type="text">
            </label>
        </div>
    </ion-content>
</ion-view>
