<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EDITAR EVENTO">
    <ion-content>
        <div class="editar_evento_fotos">
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item" href="#/EditarEvento">
                        Sobre
                    </a>
                    <a class="tab-item active" href="#/EditarEventoFotos">
                        Fotos
                    </a>
                    <a class="tab-item" href="#/EditarEventoEstatisticas">
                        Estatísticas
                    </a>
                </div>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%; float: left; margin: 0">Fotos e vídeos do evento</p>
                <a href="#/EditarEventoVerFotos"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver tudo</div></a>
                <ion-gallery ion-gallery-items="items"  ion-gallery-row="3"></ion-gallery>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%; float: left; margin: 0">#tomorrowlandbrasil</p>
                <a href="#/EditarEventoVerFotos"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver tudo</div></a>
                <ion-gallery ion-gallery-items="items"  ion-gallery-row="3"></ion-gallery>
            </div>
        </div>
    </ion-content>
</ion-view>
