<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EDITAR EVENTO">
    <ion-content>
        <div class="editar_evento_ingressos">
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item active" href="#/EditarEvento">
                        Sobre
                    </a>
                    <a class="tab-item" href="#/EditarEventoFotos">
                        Fotos
                    </a>
                    <a class="tab-item" href="#/EditarEventoEstatisticas">
                        Estatísticas
                    </a>
                </div>
            </div>
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item" href="#/EditarEvento">
                        Detalhes
                    </a>
                    <a class="tab-item active" href="#/EditarEventoIngressos">
                        Ingressos
                    </a>
                    <a class="tab-item" href="#/EditarEventoAtracoes">
                        Atrações
                    </a>
                </div>
            </div>
            <div class="item item-body" style="padding: 0">
                <a href="#/PaginaEvento"> <p style="font-family:'Gotham Rnd-Book'; color: #100009; margin: 0; font-size: 80%; margin-left: 16px">Informe onde as pessoas podem adquirir ingressos para o seu evento</p></a>
                <ul class="list">
                    <li class="item item-toggle" style="border: 0;">
                        Entrada gratuita?
                        <label class="toggle toggle-dark">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
                <label class="item item-input item-stacked-label" style="border: 0;">
                    <span class="input-label">Vendas online</span>
                    <input type="text" placeholder="Digite aqui o link para o site de vendas de ingresso">
                </label>
                <br>
                <label class="item item-input item-stacked-label" style="border: 0;">
                    <span class="input-label">Vendas físicas</span>
                    <textarea rows="5">Digite aqui os valores e pontos físicos de venda dos ingressos</textarea>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
