<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EDITAR EVENTO">
    <ion-content>
        <div class="ver_fotos">
            <div class="item item-body" id="fotos">
                <ion-gallery ion-gallery-items="items"  ion-gallery-row="3"></ion-gallery>
            </div>
        </div>
    </ion-content>
</ion-view>
