<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EDITAR EVENTO">
    <ion-content>
        <div class="editar_evento_atracoes">
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item active" href="#/EditarEvento">
                        Sobre
                    </a>
                    <a class="tab-item" href="#/EditarEventoFotos">
                        Fotos
                    </a>
                    <a class="tab-item" href="#/EditarEventoEstatisticas">
                        Estatísticas
                    </a>
                </div>
            </div>
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item" href="#/EditarEvento">
                        Detalhes
                    </a>
                    <a class="tab-item" href="#/EditarEventoIngressos">
                        Ingressos
                    </a>
                    <a class="tab-item active" href="#/EditarEventoAtracoes">
                        Atrações
                    </a>
                </div>
            </div>
            <div class="item item-body">
                <div class="icone" style="width: 60px; height: 60px; border-radius: 50%; background: #b3b3b3; padding: 18px 20px; float: left; margin-top:20px; margin-right: 15px;"><i class="ion-plus-round" style="color: #100009; font-size: 150%;"></i></div>
                <label class="item item-input" style="border-top:0; border-left:0; border-right:0; border-color: #100009">
                    <input type="text" placeholder="Nome da atração">
                </label>
                <label class="item item-input" style="border-top:0; border-left:0; border-right:0; border-color: #100009">
                    <textarea rows="3">Descrição</textarea>
                </label>
                <br>
                <div style="text-align: center">
                    <a href="#/SelecionarInteresse"><button ion-button style="color: #FFF; background: #100019; border:0; padding: 0% 4%; border-radius: 3px; font-family: 'Gotham Rounded Book'; width: 150px; height: 25px; font-size: 60%;">Adicionar outra atração</button></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
