<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EDITAR EVENTO">
    <ion-content>
        <div class="editar_evento">
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item active" href="#/EditarEvento">
                        Sobre
                    </a>
                    <a class="tab-item" href="#/EditarEventoFotos">
                        Fotos
                    </a>
                    <a class="tab-item" href="#/EditarEventoEstatisticas">
                        Estatísticas
                    </a>
                </div>
            </div>
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item active" href="#/EditarEvento">
                        Detalhes
                    </a>
                    <a class="tab-item" href="#/EditarEventoIngressos">
                        Ingressos
                    </a>
                    <a class="tab-item" href="#/EditarEventoAtracoes">
                        Atrações
                    </a>
                </div>
            </div>
            <div class="item item-body" style="padding: 0">
                <img class="full-image" src="img/ex2.png" style="max-height: 180px;">
                <button ion-button  ng-click="closeModal(1)" class="publico">PÚBLICO</button>
                <span style="color: #100009;"> ou </span>
                <a href="#/Eventos"><button ion-button  class="privado">PRIVADO</button></a>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%;">Tomorrowland Brasil 2017</p>
            </div>
            <div class="item item-body">
                <span style="font-family: 'Gotham Rounded Book'; color: #100009;">Festas e Shows</span>
                <i class="ion-chevron-down" style="float: right;"></i><br>
            </div>
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input item-floating-label" style="width: 39%; float: left; border: 0;">
                        <input type="text" value="23/08/2017">
                    </label>
                    <i class="ion-android-calendar" style="float: left; font-size: 200%; padding: 6px;"></i>
                    <label class="item item-input item-floating-label" style="width: 39%; float: left; border: 0;">
                        <input type="text" value="19:00">
                    </label>
                    <i class="ion-ios-clock-outline" style="float: left; font-size: 200%; padding: 6px;"></i>
                </div>
                <div class="list">
                    <label class="item item-input item-floating-label" style="width: 39%; float: left; border: 0;">
                        <input type="text" value="23/08/2017">
                    </label>
                    <i class="ion-android-calendar" style="float: left; font-size: 200%; padding: 6px;"></i>
                    <label class="item item-input item-floating-label" style="width: 39%; float: left; border: 0;">
                        <input type="text" value="19:00">
                    </label>
                    <i class="ion-ios-clock-outline" style="float: left; font-size: 200%; padding: 6px;"></i>
                </div>
            </div>
            <div class="item item-body">
                <label class="item item-input" style="border: 0; padding: 0">
                    <input type="text" value="Arena São Paulo - São Paulo, SP">
                </label>
            </div>
            <div class="item item-body">
                <label class="item item-input" style="border: 0; padding: 0">
                    <textarea type="text" rows="5">Tomorrowland Brasil é um festival de música eletrônica realizado na cidade de Itu, um município do estado de São Paulo, no Brasil. Sua primeira edição foi realizada nos dias 1, 2 e 3 de maio de 2015 e contou com a participação de cerca de 180 mil pessoas...</textarea>
                </label>
            </div>
            <div class="item item-body">
                <label class="item item-input" style="border: 0; padding: 0">
                    <input type="text" value="festas, shows, musica eletronica, tomorrowland, são paulo">
                </label>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 85%; margin: 0">Hashtag do evento</p>
                <p style="font-family: 'Gotham Rounded Book'; color: #100009; font-size: 70%; margin-top:5px">Escolha uma hashtag para o público utilizar em suas publicações</p>
            </div>
            <div class="item item-body">
                <label class="item item-input" style="border: 0; padding: 0">
                    <input type="text" value="#tomorrowlandbrasil">
                </label>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 85%; margin: 0">Dados para contato</p>
                <p style="font-family: 'Gotham Rounded Book'; color: #100009; font-size: 70%; margin-top:5px">Informe dados para as pessoas poderem entrar em contato</p>
            </div>
            <div class="item item-body">
                <label class="item item-input" style="border: 0; padding: 0">
                    <input type="text" value="contato@tomorrowland.com.br">
                </label>
            </div>
            <div class="item item-body">
                <label class="item item-input" style="border: 0; padding: 0">
                    <input type="text" value="(11) 99643-8596">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
