<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EDITAR EVENTO">
    <ion-content>
        <div class="editar_evento_estatisticas">
            <div class="tabs-striped tabs-top tabs-color-assertive">
                <div class="tabs" style="position: inherit">
                    <a class="tab-item" href="#/EditarEvento">
                        Sobre
                    </a>
                    <a class="tab-item" href="#/EditarEventoFotos">
                        Fotos
                    </a>
                    <a class="tab-item active" href="#/EditarEventoEstatisticas">
                        Estatísticas
                    </a>
                </div>
            </div>
            <div class="item item-body">
                <div class="row informacoes" style="text-align: center; font-family: 'Gotham Rounded Medium'">
                    <div class="col" style="font-size: 70%"><a href="#/PessoasInteressadas"><i class="ion-star" style="font-size: 440% !important;"></i><div class="caixinha"><span style="font-size: 150%">260</span> mil</div>Pessoas<br>interessadas</a></div>
                    <div class="col" style="font-size: 70%"><a href="#/ConfirmaramPresenca"><i class="ion-ios-people" style="font-size: 440% !important;"></i><div class="caixinha"><span style="font-size: 150%">500</span> mil</div>Confirmar<br> presença</a></div>
                    <div class="col" style="font-size: 70%"><i class="ion-chatbubble" style="font-size: 440% !important;"></i><div class="caixinha"><span style="font-size: 150%">3.260</span></div>Comentários e<br>avaliações</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
