<ion-view  style="background: url('img/back1.png'); background-size: cover;" hide-nav-bar="true">
    <ion-content>
        <div class="esqueceu_senha">
            <a ng-click="closeModal(1)"><i class="icon ion-close-round placeholder-icon"></i></a><br>
            <p style="text-align: center"><span style="color: #100019; font-family: Gotham Rnd-Book;">ESQUECEU SUA SENHA?</span></p><br>
            <p style="text-align: center"><span style="color: #100019; font-family: Gotham Rnd-Book; font-size: 90%">Informe seu e-mail abaixo para recuperar
sua senha de acesso.</span></p><br>
            <label class="item item-input" style="padding: 0px 0 0px 16px; border: 2px solid #100019; border-radius: 2px">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="email" placeholder="Digite aqui seu e-mail" ng-model="user.email">
            </label>
            <button ion-button ng-click="openModal(2)"><span style="position: relative; top: 12px;">ENVIAR</span> <i class="icon ion-arrow-right-b"></i> </button>
        </div>
    </ion-content>
</ion-view>
