<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="HOJE">
    <ion-content>
        <div class="eventos_produzidos_por_voce">
            <div class="list row" style="padding: 0">
                <label class="item item-select col-50">
                    <select style="max-width: 100%; padding: 0px 40px 0 2px;">
                        <option selected>Data</option>
                        <option>Hoje</option>
                        <option>Red</option>
                    </select>
                </label>
                <label class="item  item-select col-50">
                    <select style="max-width: 100%; padding: 0px 40px 0 2px;">
                        <option selected>Localização</option>
                        <option>Green</option>
                        <option>Red</option>
                    </select>
                </label>
            </div>
            <div class="item item-body" style="padding: 0">
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="Pesquisar">
                    </label>
                    <button class="button button-clear">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="item item-body">
                <div  class="row">
                    <a href="#/Explorar">
                        <div class="col col-50">
                            <div class="evento">
                                <div class="item item-body" style="padding: 0">
                                    <img class="full-image" src="img/ex2.png">
                                    <p class="legenda" style="margin-top: 0">
                                        Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                        <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="col col-50">
                        <div class="evento">
                            <div class="item item-body" style="padding: 0">
                                <img class="full-image" src="img/ex2.png">
                                <p class="legenda" style="margin-top: 0">
                                    Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                    <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="evento">
                            <div class="item item-body" style="padding: 0">
                                <img class="full-image" src="img/ex2.png">
                                <p class="legenda" style="margin-top: 0">
                                    Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                    <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="evento">
                            <div class="item item-body" style="padding: 0">
                                <img class="full-image" src="img/ex2.png">
                                <p class="legenda" style="margin-top: 0">
                                    Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                    <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="evento">
                            <div class="item item-body" style="padding: 0">
                                <img class="full-image" src="img/ex2.png">
                                <p class="legenda" style="margin-top: 0">
                                    Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                    <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="evento">
                            <div class="item item-body" style="padding: 0">
                                <img class="full-image" src="img/ex2.png">
                                <p class="legenda" style="margin-top: 0">
                                    Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                    <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>