<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="FEED">
    <ion-content>
        <ion-scroll direction="x" class="wide-as-needed">
            <div class="talvez_interesse">
                <h5 style="font-family: 'Gotham Rounded Bold'; text-align: center">Em destaque</h5>
                <a href="#/EmDestaque">
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                </a>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="talvez_interesse">
                <h5 style="font-family: 'Gotham Rounded Bold'; float: left; margin: 0">Produzidos por você</h5>
                <a href="#/EventosProduzidosPorVoce" style="float: right"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver tudo</div></a>
                <br>
                <br>
                <a href="#/EmDestaque">
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                </a>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="talvez_interesse">
                <h5 style="font-family: 'Gotham Rounded Bold'; float: left; margin: 0">Eventos do seu interesse</h5>
                <a href="#/EditarEventoVerFotos" style="float: right"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver tudo</div></a>
                <br>
                <br>
                <a href="#/EmDestaque">
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                </a>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="talvez_interesse">
                <h5 style="font-family: 'Gotham Rounded Bold'; float: left; margin: 0">Publicados recentemente</h5>
                <a href="#/EditarEventoVerFotos" style="float: right"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver tudo</div></a>
                <br>
                <br>
                <a href="#/EmDestaque">
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                </a>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="talvez_interesse">
                <h5 style="font-family: 'Gotham Rounded Bold'; float: left; margin: 0"Populares</h5>
                <a href="#/EditarEventoVerFotos" style="float: right"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver tudo</div></a>
                <br>
                <br>
                <a href="#/EmDestaque">
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                </a>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="talvez_interesse">
                <h5 style="font-family: 'Gotham Rounded Bold'; float: left; margin: 0">Próximos a você</h5>
                <a href="#/EditarEventoVerFotos" style="float: right"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver tudo</div></a>
                <br>
                <br>
                <a href="#/EmDestaque">
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                </a>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
                <div class="evento">
                    <div class="item item-body">
                        <img class="full-image" src="img/ex2.png">
                        <p class="legenda" style="margin-top: 0">
                            Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                            <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="item item-body" style="padding: 0">
                <h5 style="font-family: 'Gotham Rounded Bold'; text-align: center; font-size: 14px">Categorias</h5>
                <div class="row">
                    <div class="col col-50"><img src="img/categoria1.png" class="full-image"></div>
                    <div class="col col-50"><img src="img/categoria2.png" class="full-image"></div>
                </div>
                <div class="row">
                    <div class="col col-50"><img src="img/categoria3.png" class="full-image"></div>
                    <div class="col col-50"><img src="img/categoria4.png" class="full-image"></div>
                </div>
                <div class="row">
                    <div class="col col-50"><img src="img/categoria5.png" class="full-image"></div>
                    <div class="col col-50"><img src="img/categoria6.png" class="full-image"></div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>