<ion-view  style="background: url('img/back2.png'); background-size: cover;">
    <ion-content>
        <div class="explorar_todos">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper" style="background: #FFF">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Pesquisar">
                </label>
                <button class="button button-clear" style="color: #FFF;">
                    Cancelar
                </button>
            </div>
            <div class="tabs-striped tabs-color-assertive">
                <div class="tabs">
                    <a class="tab-item active" href="#/ExplorarTodos">
                        Todos
                    </a>
                    <a class="tab-item" href="#/ExplorarEventos">
                        Eventos
                    </a>
                    <a class="tab-item" href="#/PaginaEventoComentarios">
                        Perfis
                    </a>
                    <a class="tab-item" href="#/PaginaEventoComentarios">
                        Publicações
                    </a>
                </div>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Book'; color: #110019;"><i class="icon ion-android-calendar" style="font-size: 150%"></i> Eventos</p>
                <div class="eventos">
                    <div class="foto">
                        <img src="img/galeria7.png">
                    </div>
                    <div class="descricao">
                        <h3 style="font-family: 'Gotham Rounded Medium'; margin: 0;">Tomorrowland Brasil 2017</h3>
                        <i class="icon ion-ios-clock-outline" style="font-size: 150%; margin-right: 5px"></i>30 de maio às 16:00<br>
                        <i class="icon ion-ios-location-outline" style="font-size: 150%; margin-right: 5px"></i>Goiânia-GO | Festas e Shows<br>
                        <i class="ion-ios-person-outline" style="font-size: 150%; margin-right: 5px"></i> 260 mil confirmaram presença
                    </div>
                 </div>
                <div class="eventos">
                    <div class="foto">
                        <img src="img/galeria7.png">
                    </div>
                    <div class="descricao">
                        <h3 style="font-family: 'Gotham Rounded Medium'; margin: 0;">Tomorrowland Brasil 2017</h3>
                        <i class="icon ion-ios-clock-outline" style="font-size: 150%; margin-right: 5px"></i>30 de maio às 16:00<br>
                        <i class="icon ion-ios-location-outline" style="font-size: 150%; margin-right: 5px"></i>Goiânia-GO | Festas e Shows<br>
                        <i class="ion-ios-person-outline" style="font-size: 150%; margin-right: 5px"></i> 260 mil confirmaram presença
                    </div>
                </div>
                <div class="eventos">
                    <div class="foto">
                        <img src="img/galeria7.png">
                    </div>
                    <div class="descricao">
                        <h3 style="font-family: 'Gotham Rounded Medium'; margin: 0;">Tomorrowland Brasil 2017</h3>
                        <i class="icon ion-ios-clock-outline" style="font-size: 150%; margin-right: 5px"></i>30 de maio às 16:00<br>
                        <i class="icon ion-ios-location-outline" style="font-size: 150%; margin-right: 5px"></i>Goiânia-GO | Festas e Shows<br>
                        <i class="ion-ios-person-outline" style="font-size: 150%; margin-right: 5px"></i> 260 mil confirmaram presença
                    </div>
                </div>
                <a href="#/EventosProduzidosPorVoce" style="float: right"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver todos</div></a>
            </div>
            <ion-scroll direction="x" class="wide-as-needed">
                <div class="talvez_conheca">
                    <p style="font-family: 'Gotham Rounded Book'; color: #110019;"><i class="ion-ios-person-outline" style="font-size: 150%; margin-right: 5px"></i> Perfis</p>
                    <a href="#/TalvezConheca">
                        <div class="evento">
                            <div class="item item-body">
                                <a ng-click="closeModal(1)" style="float: right"><i class="icon ion-close placeholder-icon"></i></a><br>
                                <img src="img/avatar3.png"><br>
                                <div style="font-family: 'Gotham Rounded Bold'; color: #281930; font-size: 70%; height: 18px">Matheus Henrique</div>
                                <div style="font-family: 'Gotham Rounded Book'; color: #281930; font-size: 70%; height: 20px">@matheushgc</div>
                                <a href="#/SelecionarInteresse"><button ion-button  ng-click="closeModal(1)" class="seguir">Seguindo</button></a>
                            </div>
                        </div>
                    </a>
                    <div class="evento">
                        <div class="item item-body">
                            <a ng-click="closeModal(1)" style="float: right"><i class="icon ion-close placeholder-icon"></i></a><br>
                            <img src="img/avatar3.png"><br>
                            <div style="font-family: 'Gotham Rounded Bold'; color: #281930; font-size: 70%; height: 18px">Matheus Henrique</div>
                            <div style="font-family: 'Gotham Rounded Book'; color: #281930; font-size: 70%; height: 20px">@matheushgc</div>
                            <a href="#/NovasFotos"><button ion-button  ng-click="closeModal(1)" class="seguindo">Seguir</button></a>
                        </div>
                    </div>
                    <div class="evento">
                        <div class="item item-body">
                            <a ng-click="closeModal(1)" style="float: right"><i class="icon ion-close placeholder-icon"></i></a><br>
                            <img src="img/avatar3.png"><br>
                            <div style="font-family: 'Gotham Rounded Bold'; color: #281930; font-size: 70%; height: 18px">Matheus Henrique</div>
                            <div style="font-family: 'Gotham Rounded Book'; color: #281930; font-size: 70%; height: 20px">@matheushgc</div>
                            <a href="#/SelecionarInteresse"><button ion-button  ng-click="closeModal(1)" class="seguindo">Seguir</button></a>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div class="item-body item" style="border: 0;">
                <p style="font-family: 'Gotham Rounded Book'; color: #110019; margin-top: 0;"><i class="ion-ios-paper-outline" style="font-size: 150%"></i> Publicações</p>
                <div class="publicacao">
                    <div class="item item-avatar" style="padding: 8px 8px 0 60px; height: 60px; min-height: 60px; border: 0;">
                        <img src="img/avatar2.png" style="left: 8px; top: 8px;">
                        <a href="#/NovoEvento"><h2 style="margin: 0;">Tomorrowland Brasil 2017</h2></a>
                        <p style="margin: 0;">Publicou uma nova foto</p>
                        <p style="float: right; position: relative; bottom: 57px; font-family: 'Gotham Light'; color: #100019; font-size: 10px; left: 7px">30 de maio</p>
                        <p style="float: right; position: relative; bottom: 42px; font-family: 'Gotham Light'; color: #100019; left: 63px; font-size: 10px">ás 18:00</p>
                    </div>
                    <div class="foto">
                        <img src="img/galeria7.png">
                    </div>
                    <div class="descricao">
                        <p style="margin: 0; padding: 0">Quem gosta do Tomorrowland Brasil levanta a mão! O maior festival eletronico do mundo irá desembarcar no Brasil você não pode perder, compre...</p>
                        <p style="margin: 0; font-size: 9px"><i class="icon ion-thumbsup" style="font-size: 150%"></i> 50 curtidas <i class="icon ion-ios-chatbubble" style="margin-left: 15px; font-size: 150%"></i> 50 comentários</p>
                    </div>
                </div>
                <div class="publicacao">
                    <div class="item item-avatar" style="padding: 8px 8px 0 60px; height: 60px; min-height: 60px; border: 0;">
                        <img src="img/avatar2.png" style="left: 8px; top: 8px;">
                        <a href="#/NovoEvento"><h2 style="margin: 0;">Tomorrowland Brasil 2017</h2></a>
                        <p style="margin: 0;">Publicou uma nova foto</p>
                        <p style="float: right; position: relative; bottom: 57px; font-family: 'Gotham Light'; color: #100019; font-size: 10px; left: 7px">30 de maio</p>
                        <p style="float: right; position: relative; bottom: 42px; font-family: 'Gotham Light'; color: #100019; left: 63px; font-size: 10px">ás 18:00</p>
                    </div>
                    <div class="foto">
                        <img src="img/galeria7.png">
                    </div>
                    <div class="descricao">
                        <p style="margin: 0; padding: 0">Quem gosta do Tomorrowland Brasil levanta a mão! O maior festival eletronico do mundo irá desembarcar no Brasil você não pode perder, compre...</p>
                        <p style="margin: 0; font-size: 9px"><i class="icon ion-thumbsup" style="font-size: 150%"></i> 50 curtidas <i class="icon ion-ios-chatbubble" style="margin-left: 15px; font-size: 150%"></i> 50 comentários</p>
                    </div>
                </div>
                <div class="publicacao">
                    <div class="item item-avatar" style="padding: 8px 8px 0 60px; height: 60px; min-height: 60px; border: 0;">
                        <img src="img/avatar2.png" style="left: 8px; top: 8px;">
                        <a href="#/NovoEvento"><h2 style="margin: 0;">Tomorrowland Brasil 2017</h2></a>
                        <p style="margin: 0;">Publicou uma nova foto</p>
                        <p style="float: right; position: relative; bottom: 57px; font-family: 'Gotham Light'; color: #100019; font-size: 10px; left: 7px">30 de maio</p>
                        <p style="float: right; position: relative; bottom: 42px; font-family: 'Gotham Light'; color: #100019; left: 63px; font-size: 10px">ás 18:00</p>
                    </div>
                    <div class="foto">
                        <img src="img/galeria7.png">
                    </div>
                    <div class="descricao">
                        <p style="margin: 0; padding: 0">Quem gosta do Tomorrowland Brasil levanta a mão! O maior festival eletronico do mundo irá desembarcar no Brasil você não pode perder, compre...</p>
                        <p style="margin: 0; font-size: 9px"><i class="icon ion-thumbsup" style="font-size: 150%"></i> 50 curtidas <i class="icon ion-ios-chatbubble" style="margin-left: 15px; font-size: 150%"></i> 50 comentários</p>
                    </div>
                </div>
                <a href="#/EventosProduzidosPorVoce" style="float: right"><div style="font-family: 'Gotham Rounded Book'; font-size: 12px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: right; text-align: center">Ver todos</div></a>
            </div>
        </div>
    </ion-content>
</ion-view>
