<ion-view  style="background: url('img/back2.png'); background-size: cover;">
    <ion-content style="background: #FFF">
        <div class="explorar">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Pesquisar">
                </label>
                <button class="button button-clear">
                    Cancelar
                </button>
            </div>
            <div class="list">
                <a class="item" href="#/ExplorarTodos">
                    <p><i class="icon ion-ios-search placeholder-icon"></i>Pesquisas recentes</p>
                </a>
                <a class="item" href="#/ExplorarTodos">
                    <p><i class="icon ion-ios-search placeholder-icon"></i>tomorrowlandbrasil</p>
                </a>
                <a class="item" href="#/ExplorarTodos">
                    <p><i class="icon ion-ios-search placeholder-icon"></i>Villa Mix Festival</p>
                </a>
                <a class="item" href="#/ExplorarTodos">
                    <p><i class="icon ion-ios-search placeholder-icon"></i>matheushgc</p>
                </a>
                <a class="item" href="#/ExplorarTodos">
                    <p><i class="icon ion-ios-search placeholder-icon"></i>Goiânia</p>
                </a>
                <a class="item" href="#/ExplorarTodos">
                    <p><i class="icon ion-ios-search placeholder-icon"></i>festa</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
