<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="FEED">
    <ion-content>
        <div class="feed">
            <div class="list card" style="margin: 0">
                <div class="item item-avatar" style="padding-bottom: 0">
                    <img src="img/avatar2.png">
                    <a href="#/NovoEvento"><h2>Tomorrowland Brasil 2017</h2></a>
                    <p>Publicou uma nova foto</p>
                    <p style="float: right; position: relative; bottom: 40px; font-family: 'Gotham Light'; color: #100019;">30 de maio</p>
                    <p style="float: right; position: relative; bottom: 25px; font-family: 'Gotham Light'; color: #100019; left: 71px;">ás 18:00</p>
                </div>
                <div class="item item-body" style="padding: 0">
                    <img class="full-image" src="img/ex1.png">
                    <p class="legenda" style="padding: 0 10px; margin-top: 8px">
                        <span style="font-family: 'Gotham Medium'">@Tomorrowlandbrasil</span><br>
                        <span style="font-family: 'Gotham Rnd-Book'; font-size: 90%">Quem gosta do Tomorrowland Brasil levanta a mão</span>
                    </p>
                </div>
                <div class="item item-body acoes_post" style="padding: 10px 13px">
                    <p><i class="icon ion-thumbsup" style="font-size: 150%"></i> Curtir <i class="icon ion-ios-chatbubble-outline" style="margin-left: 30px; font-size: 150%"></i> Comentar</p>
                </div>
                <div class="item item-body cont_acoes" style="padding: 10px 13px">
                    <p><i class="icon ion-thumbsup" style="font-size: 150%"></i> 50 curtidas <i class="icon ion-ios-chatbubble" style="margin-left: 15px; font-size: 150%"></i> 50 comentários</p>
                    <p class="comentario"><span style="font-family: 'Gotham Medium'">@matheushgc</span> O melhor evento de música eletrônica do mundo, minha presença está confimada. <i class="icon ion-android-favorite"></i> </p>
                    <p class="comentario"><span style="font-family: 'Gotham Medium'">@felipeholanda</span> Ansioso por esse evento. <i class="icon ion-android-happy"></i> </p>
                    <span style="font-family: 'Gotham Rounded Book'; font-size: 75%">Ver todos os comentários...</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
