<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="FEED">
    <ion-content>
        <div class="interesse_evento">
            <div class="list card" style="margin: 0;">
                <div class="item item-avatar" style="padding-bottom: 0">
                    <img src="img/avatar3.png">
                    <a href="#/NovoEvento"><h2>Tomorrowland Brasil 2017</h2></a>
                    <p>Tem interesse em um evento</p>
                    <p style="float: right; position: relative; bottom: 40px; font-family: 'Gotham Light'; color: #100019;">30 de maio</p>
                    <p style="float: right; position: relative; bottom: 25px; font-family: 'Gotham Light'; color: #100019; left: 71px;">ás 18:00</p>
                </div>
                <div class="item item-body" style="padding: 0">
                    <img class="full-image" src="img/ex2.png">
                    <div class="rodape_img"><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star-half estrela"></i><i class="icon ion-android-star estrela_branca"></i><span style="font-size: 60%; position: relative; bottom: 2px; margin-left: 5px">130 avaliações</span> <i class="icon ion-ios-people" style="margin-left: 25px;"></i><span style="font-size: 60%; position: relative; bottom: 2px; margin-left: 5px">30 mil confirmaram presença</span></div>
                    <p class="legenda" style="padding: 0 10px; margin-top: 0">
                        <span style="font-family: 'Gotham Rounded Book'; font-size:150%">Tomorrowland Brasil 2017</span>
                        <span style="font-family: 'Gotham Light';  float: right; font-size: 150%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right">maio</span>
                        <span style="font-family: 'Gotham Rounded Book'"><i class="icon ion-ios-location-outline" style="font-size: 150%"></i> São Paulo, SP</span><span style="font-family: 'Gotham Rounded Book'"><i class="icon ion-ios-clock-outline" style="font-size: 150%; margin-left: 20px"></i> 16:00</span>
                    </p>
                </div>
                <div class="item item-body acoes_post" style="padding: 10px 13px">
                    <p><i class="icon ion-thumbsup" style="font-size: 150%"></i><a href="#/ConfirmouPresenca"> Curtir</a> <i class="icon ion-ios-chatbubble-outline" style="margin-left: 30px; font-size: 150%"></i> Comentar</p>
                </div>
                <div class="item item-body cont_acoes" style="padding: 10px 13px">
                    <p><i class="icon ion-thumbsup" style="font-size: 150%"></i> 50 curtidas <i class="icon ion-ios-chatbubble" style="margin-left: 15px; font-size: 150%"></i> 50 comentários</p>
                    <p class="comentario"><span style="font-family: 'Gotham Medium'">@matheushgc</span> O melhor evento de música eletrônica do mundo, minha presença está confimada. <i class="icon ion-android-favorite"></i> </p>
                    <p class="comentario"><span style="font-family: 'Gotham Medium'">@felipeholanda</span> Ansioso por esse evento. <i class="icon ion-android-happy"></i> </p>
                    <span style="font-family: 'Gotham Rounded Book'; font-size: 75%">Ver todos os comentários...</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
