<ion-view  style="background: url('img/back1.png'); background-size: cover;" hide-nav-bar="true">
    <ion-content>
        <div class="entrar_facebook">
            <img src="img/face.png">
        </div>
        <p style="text-align: center"><span style="color: #FFF; font-family: Gotham Rnd-Book;">ou</span></p>
        <div class="login">
            <label class="item item-input">
                <i class="icon ion-ios-person-outline placeholder-icon"></i>
                <input type="email" placeholder="Nome de usuário ou e-mail" ng-model="user.email">
            </label>
            <br>
            <label class="item item-input">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="password" placeholder="Senha">
            </label>
            <a href="#/Feed"><button ion-button>ENTRAR</button></a>
            <p style="text-align: center"><a ng-click="openModal(1)"><span style="color: #FFF; font-family: Gotham Rnd-Book; font-size: 90%">Esqueceu sua senha?</span></a></p>
            <p style="text-align: center"><a href="#/Cadastrar"><span style="color: #FFF; font-family: Gotham Rnd-Book; font-size: 90%">Ainda não é usuário? Cadastre-se já.</span></a></p>
        </div>
    </ion-content>
</ion-view>
