<ion-view  style="background: url('img/back1.png'); background-size: cover;" hide-nav-bar="true">
    <ion-content>
        <div class="nova_senha">
            <a ng-click="closeModal(3)"><i class="icon ion-close placeholder-icon"></i></a><br>
            <p style="text-align: center"><span style="color: #100019; font-family: Gotham Rnd-Book;">CRIAR NOVA SENHA</span></p><br>
            <label class="item item-input" style="padding: 0px 0 0px 16px; border: 2px solid #100019; border-radius: 2px">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="email" placeholder="Nova senha" ng-model="user.email">
            </label>
            <br>
            <label class="item item-input" style="padding: 0px 0 0px 16px; border: 2px solid #100019; border-radius: 2px">
                <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                <input type="email" placeholder="Repita a nova senha" ng-model="user.email">
            </label>
            <button ion-button ng-click="openModal(4)"><span style="position: relative; top: 15px;">CRIAR SENHA</span> <i class="icon ion-android-arrow-dropright"></i> </button>
        </div>
    </ion-content>
</ion-view>
