<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EVENTO">
    <ion-content>
        <div class="evento">
            <img class="full-image" src="img/ex2.png">
            <div class="rodape_img"><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star-half estrela"></i><i class="icon ion-android-star estrela_branca"></i><span style="font-size: 60%; position: relative; bottom: 2px; margin-left: 5px">130 avaliações</span></div>
            <div class="item item-body">
                <p class="legenda" style="margin-top: 0">
                    <a href="#/PaginaEventoFeed"><span style="font-family: 'Gotham Rounded Book'; font-size:120%; color: #100009;">Tomorrowland Brasil 2017</span></a>
                    <span style="font-family: 'Gotham Light';  float: right; font-size: 150%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right">maio</span>
                    <div style="font-family: 'Gotham Rounded Book'; font-size:75%; line-height: 0px;">Organizado por @tomorrowlandbrasil</div><br>
                    <div style="font-family: 'Gotham Rounded Book'; font-size:75%; line-height: 0px;">Evento público</div>
                </p>
            </div>
            <div class="item item-body">
                <div class="informacoes">
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-clock-outline"></i></div>30 de maio às 16:00 a 01 de junho às 18:00</div>
                    <div style="margin-top: 20px; font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-location-outline"></i></div>Localização do evento</div>
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"></div>Endereço do local</div>
                    <div style="margin-top: 20px; font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-pricetags"></i></div>Compre seu ingresso online</div>
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"></div>Acesse: www.gomeet.com.br</div>
                </div>
            </div>
            <div class="item item-body">
                <div class="row informacoes">
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-star-outline" style="font-size: 200%; "></i></div> Tenho interesse</div>
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-checkmark-round" style="font-size: 200%"></i></div>Confirmar presença</div>
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-plus-outline" style="font-size: 200%"></i></div>Mais<br> opções</div>
                </div>
            </div>
            <div class="tabs-striped tabs-color-assertive">
                <div class="tabs">
                    <a class="tab-item active" href="#/PaginaEvento">
                        Sobre
                    </a>
                    <a class="tab-item" href="#/PaginaEventoFeed">
                        Feed
                    </a>
                    <a class="tab-item" href="#/PaginaEventoComentarios">
                        Comentários
                    </a>
                </div>
            </div>
            <div class="tabs-striped tabs-color-assertive">
                <div class="tabs">
                    <a class="tab-item active" href="#/PaginaEvento">
                        Tudo
                    </a>
                    <a class="tab-item" ng-click="scrollTo('ingressos')">
                        Ingressos
                    </a>
                    <a class="tab-item" ng-click="scrollTo('atracoes')">
                        Atrações
                    </a>
                    <a class="tab-item" ng-click="scrollTo('fotos')">
                        Fotos
                    </a>
                </div>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%; text-align: center">O EVENTO INICIA EM...</p>
                <br>
                <div class="circulo">
                    04
                </div>
                <div class="circulo">
                    12
                </div>
                <div class="circulo">
                    35
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div style="float: left; margin: 0px 0 0 35px; font-family: 'Gotham Rounded Medium'; color: #100009;">Dias</div>
                <div style="float: left; margin: 0px 0 0 70px; font-family: 'Gotham Rounded Medium'; color: #100009;">Horas</div>
                <div style="float: left; margin: 0px 0 0 57px; font-family: 'Gotham Rounded Medium'; color: #100009;">Minutos</div>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%;">Descrição</p>
                <p style="font-family: 'Gotham Rounded Book'; color: #100009; font-size: 80%;">
                    Tomorrowland Brasil é um festival de música eletrônica realizado
                    na cidade de Itu, um município do estado de São Paulo, no Brasil.
                    Sua primeira edição foi realizada nos dias 1, 2 e 3 de maio de 2015
                    e contou com a participação de cerca de 180 mil pessoas...
                </p>
                <span style="float: right">Ver mais...</span>
            </div>
            <div class="item item-body informacoes" style="font-size: 13px">
                <img class="full-image" src="img/map1.png">
                <div style="margin-top: 20px; font-family: 'Gotham Rounded Book'"><div class="icone" style="float: left; font-size: 200%"><i class="ion-location"></i></div>Nome do local</div>
                <div style="font-family: 'Gotham Rounded Book'"><div class="icone"></div>Endereço do local</div>
            </div>
            <div class="item item-body informacoes" style="font-size: 13px" id="ingressos">
                <div style="margin-top: 20px; font-family: 'Gotham Rounded Medium';"><div class="icone" style="float: left; font-size: 100%"><i class="ion-pricetags"></i></div>Adquira seu ingresso online</div>
                <div style="font-family: 'Gotham Rounded Book';"><div class="icone"></div>Acesse www.gomeet.com.br</div>
                <div style="margin-top: 20px; font-family: 'Gotham Rounded Medium'"><div class="icone" style="float: left; font-size: 100%"><i class="ion-pricetags"></i></div>Adquira seu ingresso nos pontos de venda</div>
                <div style="margin-top: 5px"><div class="icone"><i class="ion-arrow-right-b"></i> </div>Flamboyant Shopping Center</div>
                <div style="margin-top: 5px"><div class="icone"><i class="ion-arrow-right-b"></i> </div>Walmart</div>
                <div style="margin-top: 5px"><div class="icone"><i class="ion-arrow-right-b"></i> </div>Flávio's (Buriti Shopping)</div>
                <div style="margin-top: 5px"><div class="icone"><i class="ion-arrow-right-b"></i> </div>Rival</div>
                <div style="margin-top: 5px"><div class="icone"><i class="ion-arrow-right-b"></i> </div>Tribo</div>
                <div style="margin-top: 5px"><div class="icone"><i class="ion-arrow-right-b"></i> </div>Komiketo</div>
            </div>
            <div class="list" id="atracoes">
                <a class="item item-avatar" href="#">
                    <img src="img/avatar5.png">
                    <h2 style="font-size: 13px; font-family: 'Gotham Rounded Medium';">Alok</h2>
                    <p style="font-size: 13px; font-family: 'Gotham Rounded Book'; white-space: normal">O dj mais conhecido internacionalmente vai estar presente.</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar6.png">
                    <h2 style="font-size: 13px; font-family: 'Gotham Rounded Medium';">Vintage Culture</h2>
                    <p style="font-size: 13px; font-family: 'Gotham Rounded Book'; white-space: normal">Considerado o melhor dj atualmente.</p>
                </a>
            </div>
            <div class="item item-body">
                <div class="row informacoes" style="text-align: center; font-family: 'Gotham Rounded Medium'">
                    <div class="col" style="font-size: 70%"><i class="ion-star" style="font-size: 440% !important;"></i><div class="caixinha"><span style="font-size: 150%">260</span> mil</div>Pessoas<br>interessadas</div>
                    <div class="col" style="font-size: 70%"><i class="ion-ios-people" style="font-size: 440% !important;"></i><div class="caixinha"><span style="font-size: 150%">500</span> mil</div>Confirmar<br> presença</div>
                    <div class="col" style="font-size: 70%"><i class="ion-chatbubble" style="font-size: 440% !important;"></i><div class="caixinha"><span style="font-size: 150%">3.260</span></div>Comentários e<br>avaliações</div>
                </div>
                <div class="confirmaram_presenca">
                    <p style="font-family: 'Gotham Rounded Book'; font-size: 10px; margin-bottom: 0"><span>Luisa, Gabriel</span> e <span>outros 8 seguidores</span> confirmaram presença</p>
                    <div class="fotos_interessados">
                        <img src="img/interessado1.png">
                        <img src="img/interessado2.png">
                        <img src="img/interessado3.png">
                        <img src="img/interessado4.png">
                        <img src="img/interessado5.png">
                        <img src="img/interessado6.png">
                        <img src="img/interessado7.png">
                        <img src="img/interessado8.png">
                        <img src="img/interessado9.png">
                    </div>
                    <i class="ion-forward" style="font-size: 150%"></i> Convidar
                </div>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%;">Comentários recentes</p>
                <div class="list">
                    <a class="item item-avatar" href="#">
                        <img src="img/avatar3.png">
                        <div style="background: #100009; width: 120px; padding: 5px 10px; border-radius: 3px; float: left; margin-right: 10px;">
                            <h4 style="margin: 0 !important; color: #FFF; font-family: 'Gotham Rounded Book';">@danielcamargo</h4>
                        </div>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <br>
                        <p style="margin: 0 !important; font-size: 7px; font-family: 'Gotham Rounded Book'; float: left">Evento superou todas as minhas espectativas, recomendo a todos que curtem música eletrônica. Emoção a cada minuto!</p>
                    </a>
                    <a class="item item-avatar" href="#">
                        <img src="img/avatar7.png">
                        <div style="background: #100009; width: 120px; padding: 5px 10px; border-radius: 3px; float: left; margin-right: 10px;">
                            <h4 style="margin: 0 !important; color: #FFF; font-family: 'Gotham Rounded Book';">@claudiaamaro</h4>
                        </div>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <br>
                        <p style="margin: 0 !important; font-size: 7px; font-family: 'Gotham Rounded Book'; float: left">Não me arrependo de ter garantido meu ingresso e ter ido a esse hiper evento aqui no Brasil Tomorrowland pra sempre em meu</p>
                    </a>
                    <a class="item item-avatar" href="#">
                        <img src="img/avatar7.png">
                        <div style="background: #100009; width: 120px; padding: 5px 10px; border-radius: 3px; float: left; margin-right: 10px;">
                            <h4 style="margin: 0 !important; color: #FFF; font-family: 'Gotham Rounded Book';">@claudiaamaro</h4>
                        </div>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <i class="ion-star"></i>
                        <br>
                        <p style="margin: 0 !important; font-size: 7px; font-family: 'Gotham Rounded Book'; float: left">Não me arrependo de ter garantido meu ingresso e ter ido a esse hiper evento aqui no Brasil Tomorrowland pra sempre em meu</p>
                    </a>
                </div>
            </div>
            <div class="item item-body" id="fotos">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%;">Fotos e vídeos do evento</p>
                <ion-gallery ion-gallery-items="items"  ion-gallery-row="4"></ion-gallery>
                <div style="font-family: 'Gotham Rounded Book'; font-size: 8px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: left">Ver toda a galeria</div>
                <div style="float: right; font-family: 'Gotham Rounded Book'; font-size: 8px; color: #100009;">180 publicações</div>
            </div>
            <div class="item item-body">
                <p style="font-family: 'Gotham Rounded Medium'; color: #100009; font-size: 100%;">#tomorrowlandbrasil2017</p>
                <ion-gallery ion-gallery-items="items"  ion-gallery-row="4"></ion-gallery>
                <div style="font-family: 'Gotham Rounded Book'; font-size: 8px; background: #100009; color: #FFF; width: 90px; padding: 0px 9px; border-radius: 3px; margin-left: 2px; float: left">Ver toda a galeria</div>
                <div style="float: right; font-family: 'Gotham Rounded Book'; font-size: 8px; color: #100009;">150 publicações</div>
            </div>
        </div>
    </ion-content>
</ion-view>
