<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EVENTO">
    <ion-content>
        <div class="evento_comentarios">
            <img class="full-image" src="img/ex2.png">
            <div class="rodape_img"><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star-half estrela"></i><i class="icon ion-android-star estrela_branca"></i><span style="font-size: 60%; position: relative; bottom: 2px; margin-left: 5px">130 avaliações</span></div>
            <div class="item item-body">
                <p class="legenda" style="margin-top: 0">
                    <a href="#/EditarEvento"><span style="font-family: 'Gotham Rounded Book'; font-size:120%; color: #100009;">Tomorrowland Brasil 2017</span></a>
                    <span style="font-family: 'Gotham Light';  float: right; font-size: 150%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right">maio</span>
                <div style="font-family: 'Gotham Rounded Book'; font-size:75%; line-height: 0px;">Organizado por @tomorrowlandbrasil</div><br>
                <div style="font-family: 'Gotham Rounded Book'; font-size:75%; line-height: 0px;">Evento público</div>
                </p>
            </div>
            <div class="item item-body">
                <div class="informacoes">
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-clock-outline"></i></div>30 de maio às 16:00 a 01 de junho às 18:00</div>
                    <div style="margin-top: 20px; font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-location-outline"></i></div>Localização do evento</div>
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"></div>Endereço do local</div>
                    <div style="margin-top: 20px; font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-pricetags"></i></div>Compre seu ingresso online</div>
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"></div>Acesse: www.gomeet.com.br</div>
                </div>
            </div>
            <div class="item item-body">
                <div class="row informacoes">
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-star-outline" style="font-size: 200%; "></i></div> Tenho interesse</div>
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-checkmark-round" style="font-size: 200%"></i></div>Confirmar presença</div>
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-plus-outline" style="font-size: 200%"></i></div>Mais<br> opções</div>
                </div>
            </div>
            <div class="tabs-striped tabs-color-assertive">
                <div class="tabs">
                    <a class="tab-item" href="#/PaginaEvento">
                        Sobre
                    </a>
                    <a class="tab-item" href="#/PaginaEventoFeed">
                        Feed
                    </a>
                    <a class="tab-item active" href="#/PaginaEventoComentarios">
                        Comentários
                    </a>
                </div>
            </div>
            <div class="item item-body">
                <a class="item item-avatar">
                    <img src="img/avatar8.png">
                    <textarea placeholder="Escrever algo..." style="width: 80%; border-bottom: 1px solid #e9e8ea; float: left;"></textarea>
                    <div class="icone" style="width: 35px; height: 35px; border-radius: 50%; background: #eaeaea; float: right; padding: 5px 9px;"><i class="ion-ios-camera-outline" style="color: #100009; font-size: 150%;"></i></div><br><br>
                    <span style="font-family: 'Gotham Rounded Book'; color: #100009; float: left; font-size: 70%">Avalie o evento</span>
                    <i class="ion-ios-star-outline" style="float: left; margin-left: 5px"></i>
                    <i class="ion-ios-star-outline" style="float: left;"></i>
                    <i class="ion-ios-star-outline" style="float: left;"></i>
                    <i class="ion-ios-star-outline" style="float: left;"></i>
                    <i class="ion-ios-star-outline" style="float: left;"></i>
                    <div style="float: right; background: #100009; color: #FFF; font-size: 70%; margin-top: 2px; width: 50px; border-radius: 3px; padding: 0 5px">Publicar</div>
                </a>
            </div>
            <div class="item item-body">
                <a class="item item-avatar" href="#" style="border-bottom: 0">
                    <img src="img/avatar8.png">
                    <h2 style="font-size: 13px; font-family: 'Gotham Rounded Medium'; margin-top: 5px; margin-bottom: 0;  float: left;">@matheuscosta</h2>
                    <i class="ion-chevron-down" style="float: right;"></i><br>
                    <p style="font-family: 'Gotham Rounded Medium'; margin-top: 0; font-size: 50%; float: left;">21.06.2017 às 15:30</p>
                </a>
                <div class="item" style="border-top: 0; padding-top: 0;">
                    <p style="font-family: 'Gotham Rounded Book'; font-size: 65%; margin:0; line-height: 17px">Foi um dos melhores eventos que já fui na minha vida, organização muito boa, segurança, tudo feito muito bem, recomendo muito para todos que queiram alguma dia ir.</p>
                </div>
                <div class="item item-body acoes_post">
                    <p style="font-size: 80%; float: left;"><i class="icon ion-thumbsup" style="font-size: 120%"></i><a href="#/TalvezInteresse"> Curtir</a> <i class="icon ion-ios-chatbubble-outline" style="margin-left: 15px; font-size: 120%"></i> Comentar</p>
                    <span style="float: right; font-family: 'Gotham Rounded Book'; font-size: 9px;">20 curtidas 5 comentários</span>
                </div>
            </div>
            <div class="item item-body">
                <a class="item item-avatar" href="#" style="border-bottom: 0">
                    <img src="img/avatar8.png">
                    <h2 style="font-size: 13px; font-family: 'Gotham Rounded Medium'; margin-top: 5px; margin-bottom: 0;  float: left;">@matheuscosta</h2>
                    <i class="ion-chevron-down" style="float: right;"></i><br>
                    <p style="font-family: 'Gotham Rounded Medium'; margin-top: 0; font-size: 50%; float: left;">21.06.2017 às 15:30</p>
                </a>
                <div class="item" style="border-top: 0; padding-top: 0;">
                    <p style="font-family: 'Gotham Rounded Book'; font-size: 65%; margin:0; line-height: 17px">Foi um dos melhores eventos que já fui na minha vida, organização muito boa, segurança, tudo feito muito bem, recomendo muito para todos que queiram alguma dia ir.</p>
                    <img class="full-image" src="img/ex1.png">
                </div>
                <div class="item item-body acoes_post">
                    <p style="font-size: 80%; float: left;"><i class="icon ion-thumbsup" style="font-size: 120%"></i><a href="#/TalvezInteresse"> Curtir</a> <i class="icon ion-ios-chatbubble-outline" style="margin-left: 15px; font-size: 120%"></i> Comentar</p>
                    <span style="float: right; font-family: 'Gotham Rounded Book'; font-size: 9px;">20 curtidas 5 comentários</span>
                </div>
            </div>
            <div class="item item-body">
                <a class="item item-avatar" href="#" style="border-bottom: 0">
                    <img src="img/avatar8.png">
                    <h2 style="font-size: 13px; font-family: 'Gotham Rounded Medium'; margin-top: 5px; margin-bottom: 0;  float: left;">@matheuscosta</h2>
                    <i class="ion-chevron-down" style="float: right;"></i><br>
                    <p style="font-family: 'Gotham Rounded Medium'; margin-top: 0; font-size: 50%; float: left;">21.06.2017 às 15:30</p>
                </a>
                <div class="item" style="border-top: 0; padding-top: 0;">
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i><br>
                    <p style="font-family: 'Gotham Rounded Book'; font-size: 65%; margin:0; line-height: 17px">Foi um dos melhores eventos que já fui na minha vida, organização muito boa, segurança, tudo feito muito bem, recomendo muito para todos que queiram alguma dia ir.</p>
                </div>
                <div class="item item-body acoes_post">
                    <p style="font-size: 80%; float: left;"><i class="icon ion-thumbsup" style="font-size: 120%"></i><a href="#/TalvezInteresse"> Curtir</a> <i class="icon ion-ios-chatbubble-outline" style="margin-left: 15px; font-size: 120%"></i> Comentar</p>
                    <span style="float: right; font-family: 'Gotham Rounded Book'; font-size: 9px;">20 curtidas 5 comentários</span>
                </div>
            </div>
            <div class="item item-body">
                <a class="item item-avatar" href="#" style="border-bottom: 0">
                    <img src="img/avatar8.png">
                    <h2 style="font-size: 13px; font-family: 'Gotham Rounded Medium'; margin-top: 5px; margin-bottom: 0;  float: left;">@matheuscosta</h2>
                    <i class="ion-chevron-down" style="float: right;"></i><br>
                    <p style="font-family: 'Gotham Rounded Medium'; margin-top: 0; font-size: 50%; float: left;">21.06.2017 às 15:30</p>
                </a>
                <div class="item" style="border-top: 0; padding-top: 0;">
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i>
                    <i class="ion-star" style="float: left;"></i><br>
                    <p style="font-family: 'Gotham Rounded Book'; font-size: 65%; margin:0; line-height: 17px">Foi um dos melhores eventos que já fui na minha vida, organização muito boa, segurança, tudo feito muito bem, recomendo muito para todos que queiram alguma dia ir.</p>
                    <img class="full-image" src="img/ex1.png">
                </div>
                <div class="item item-body acoes_post">
                    <p style="font-size: 80%; float: left;"><i class="icon ion-thumbsup" style="font-size: 120%"></i><a href="#/TalvezInteresse"> Curtir</a> <i class="icon ion-ios-chatbubble-outline" style="margin-left: 15px; font-size: 120%"></i> Comentar</p>
                    <span style="float: right; font-family: 'Gotham Rounded Book'; font-size: 9px;">20 curtidas 5 comentários</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
