<ion-view  style="background: url('img/back2.png'); background-size: cover;"  view-title="EVENTO">
    <ion-content>
        <div class="evento_feed">
            <img class="full-image" src="img/ex2.png">
            <div class="rodape_img"><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star estrela"></i><i class="icon ion-android-star-half estrela"></i><i class="icon ion-android-star estrela_branca"></i><span style="font-size: 60%; position: relative; bottom: 2px; margin-left: 5px">130 avaliações</span></div>
            <div class="item item-body">
                <p class="legenda" style="margin-top: 0">
                    <a href="#/PaginaEventoComentarios"><span style="font-family: 'Gotham Rounded Book'; font-size:120%; color: #100009;">Tomorrowland Brasil 2017</span></a>
                    <span style="font-family: 'Gotham Light';  float: right; font-size: 150%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right">maio</span>
                <div style="font-family: 'Gotham Rounded Book'; font-size:75%; line-height: 0px;">Organizado por @tomorrowlandbrasil</div><br>
                <div style="font-family: 'Gotham Rounded Book'; font-size:75%; line-height: 0px;">Evento público</div>
                </p>
            </div>
            <div class="item item-body">
                <div class="informacoes">
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-clock-outline"></i></div>30 de maio às 16:00 a 01 de junho às 18:00</div>
                    <div style="margin-top: 20px; font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-location-outline"></i></div>Localização do evento</div>
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"></div>Endereço do local</div>
                    <div style="margin-top: 20px; font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-pricetags"></i></div>Compre seu ingresso online</div>
                    <div style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"></div>Acesse: www.gomeet.com.br</div>
                </div>
            </div>
            <div class="item item-body">
                <div class="row informacoes">
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-star-outline" style="font-size: 200%; "></i></div> Tenho interesse</div>
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-checkmark-round" style="font-size: 200%"></i></div>Confirmar presença</div>
                    <div class="col" style="font-family: 'Gotham Rounded Book'; font-size: 75%"><div class="icone"><i class="ion-ios-plus-outline" style="font-size: 200%"></i></div>Mais<br> opções</div>
                </div>
            </div>
            <div class="tabs-striped tabs-color-assertive">
                <div class="tabs">
                    <a class="tab-item" href="#/PaginaEvento">
                        Sobre
                    </a>
                    <a class="tab-item active" href="#/PaginaEventoFeed">
                        Feed
                    </a>
                    <a class="tab-item" href="#/PaginaEventoComentarios">
                        Comentários
                    </a>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar" style="padding-bottom: 0">
                    <img src="img/avatar2.png">
                    <a href="#/NovoEvento"><h2>Tomorrowland Brasil 2017</h2></a>
                    <p>Publicou uma nova foto</p>
                    <p style="float: right; position: relative; bottom: 40px; font-family: 'Gotham Light'; color: #100019;">30 de maio</p>
                    <p style="float: right; position: relative; bottom: 25px; font-family: 'Gotham Light'; color: #100019; left: 71px;">ás 18:00</p>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="img/ex1.png">
                    <p class="legenda">
                        <span style="font-family: 'Gotham Medium'">@Tomorrowlandbrasil</span><br>
                        <span style="font-family: 'Gotham Rnd-Book'; font-size: 90%">Quem gosta do Tomorrowland Brasil levanta a mão</span>
                    </p>
                </div>
                <div class="item item-body acoes_post">
                    <p><i class="icon ion-thumbsup" style="font-size: 150%"></i> Curtir <i class="icon ion-ios-chatbubble-outline" style="margin-left: 30px; font-size: 150%"></i> Comentar</p>
                </div>
                <div class="item item-body cont_acoes">
                    <p><i class="icon ion-thumbsup" style="font-size: 150%"></i> 50 curtidas <i class="icon ion-ios-chatbubble" style="margin-left: 15px; font-size: 150%"></i> 50 comentários</p>
                    <p class="comentario"><span style="font-family: 'Gotham Medium'">@matheushgc</span> O melhor evento de música eletrônica do mundo, minha presença está confimada. <i class="icon ion-android-favorite"></i> </p>
                    <p class="comentario"><span style="font-family: 'Gotham Medium'">@felipeholanda</span> Ansioso por esse evento. <i class="icon ion-android-happy"></i> </p>
                    <span style="font-family: 'Gotham Rounded Book'; font-size: 75%">Ver todos os comentários...</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
