<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="PESSOAS INTERESSADAS">
    <ion-content style="background: #FFF">
            <div class="pessoas_interessadas">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Pesquisar">
                </label>
                <button class="button button-clear">
                    Cancelar
                </button>
            </div>
            <div class="list">
                <a class="item item-avatar" href="#/Comentarios">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguindo" style="float: right">Seguindo</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguindo" style="float: right">Seguindo</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguir" style="float: right">Seguir</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguir" style="float: right">Seguir</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguindo" style="float: right">Seguindo</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguindo" style="float: right">Seguindo</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguir" style="float: right">Seguir</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguindo" style="float: right">Seguindo</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/avatar4.png">
                    <h2 style="float: left">Pedro Cavalcante</h2>
                    <button ion-button  ng-click="closeModal(1)" class="seguir" style="float: right">Seguindo</button>
                    <p style="float: left">pedro.cavalcante2</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
