<style>
    .bar-header, .bar.bar-stable {
        border:0;
    }
</style>
<ion-view  style="background: url('img/back2.png'); background-size: cover;">
    <ion-content>
        <div class="selecionar_interesse">
            <p style="text-align: center; margin: 0"><span style="color: #FFF; font-family: 'Gotham Rnd-Book'; font-size: 150%">DO QUE VOCÊ MAIS GOSTA?</span></p>
            <p style="text-align: center;  margin-bottom: 10%;"><span style="color: #FFF; font-family: 'Gotham Light'; font-size: 80%;">SELECIONAR TODOS SEUS INTERESSES</span><p/>
            <div class="interesses">FESTAS E SHOWS</div>
            <div class="interesses">CONGRESSOS E SEMINÁRIOS</div>
            <div class="interesses">CURSOS E WORKSHOPS</div>
            <div class="interesses">TEATRO</div>
            <div class="interesses">ESPORTIVOS</div>
            <div class="interesses">GASTRONÔMICOS</div>

        </div>
    </ion-content>
</ion-view>
