<ion-view  style="background: url('img/back1.png'); background-size: cover;" hide-nav-bar="true">
    <ion-content>
        <div class="senha_criada">
            <a ng-click="closeModal()"><i class="icon ion-close placeholder-icon"></i></a><br><br>
            <i class="icon ion-ios-checkmark-outline placeholder-icon" style="font-size: 600%; float: inherit;"></i><br><br>
            <p style="text-align: center"><span style="color: #100019; font-family: Gotham Rnd-Book;">Sua nova senha foi criada com sucesso</span></p><br>
        </div>
    </ion-content>
</ion-view>
