<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="FEED">
    <ion-content>
            <ion-scroll direction="x" class="wide-as-needed">
                <div class="talvez_interesse">
                    <h5 style="font-family: 'Gotham Rounded Bold';">Pode ser que seja do seu interesse...</h5>
                    <a href="#/EventosAmanha">
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                               Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                    </a>
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                    <div class="evento">
                        <div class="item item-body">
                            <img class="full-image" src="img/ex2.png">
                            <p class="legenda" style="margin-top: 0">
                                Tomorrowland Brasil 2017 <span style="float: right; font-size: 100%">30</span><br><span style="font-family: 'Gotham Light'; color: #ea9c9c; float: right;  font-size: 100%">maio</span>
                                <i class="icon ion-ios-location-outline" style="font-size: 100%"></i> São Paulo, SP <i class="icon ion-ios-clock-outline" style="font-size: 100%; margin-left: 20px"></i> 16:00
                            </p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
    </ion-content>
</ion-view>