<ion-view  style="background: url('img/back2.png'); background-size: cover;" view-title="FEED">
    <ion-content>
        <ion-scroll direction="x" class="wide-as-needed">
            <div class="talvez_conheca">
                <h5 style="font-family: 'Gotham Rounded Bold';">Talvez você conheça...</h5>
                <a href="#/TalvezConheca">
                    <div class="evento">
                        <div class="item item-body">
                            <a ng-click="closeModal(1)" style="float: right"><i class="icon ion-close placeholder-icon"></i></a><br>
                            <img src="img/avatar3.png"><br>
                            <div style="font-family: 'Gotham Rounded Bold'; color: #281930; font-size: 70%; height: 18px">Matheus Henrique</div>
                            <div style="font-family: 'Gotham Rounded Book'; color: #281930; font-size: 70%; height: 20px">@matheushgc</div>
                            <a href="#/SelecionarInteresse"><button ion-button  ng-click="closeModal(1)" class="seguir">Seguindo</button></a>
                        </div>
                    </div>
                </a>
                <div class="evento">
                    <div class="item item-body">
                        <a ng-click="closeModal(1)" style="float: right"><i class="icon ion-close placeholder-icon"></i></a><br>
                        <img src="img/avatar3.png"><br>
                        <div style="font-family: 'Gotham Rounded Bold'; color: #281930; font-size: 70%; height: 18px">Matheus Henrique</div>
                        <div style="font-family: 'Gotham Rounded Book'; color: #281930; font-size: 70%; height: 20px">@matheushgc</div>
                        <a href="#/NovasFotos"><button ion-button  ng-click="closeModal(1)" class="seguindo">Seguir</button></a>
                    </div>
                </div>
                <div class="evento">
                    <div class="item item-body">
                        <a ng-click="closeModal(1)" style="float: right"><i class="icon ion-close placeholder-icon"></i></a><br>
                        <img src="img/avatar3.png"><br>
                        <div style="font-family: 'Gotham Rounded Bold'; color: #281930; font-size: 70%; height: 18px">Matheus Henrique</div>
                        <div style="font-family: 'Gotham Rounded Book'; color: #281930; font-size: 70%; height: 20px">@matheushgc</div>
                        <a href="#/SelecionarInteresse"><button ion-button  ng-click="closeModal(1)" class="seguindo">Seguir</button></a>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>